/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@font-face {
    font-family: 'asiyah_scriptregular';
    src: url('../assets/fonts/asiyah_webfont.woff2') format('woff2'), url('../assets/fonts/asiyah_webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Base css*/

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #444;
    font-size: 16px;
}

.section-padding {
    padding: 80px 0;
}

.shadow-section {
    background-image: url(../assets/img/bg.jpg);
}

.shadow-section {
    background-size: cover;
    background-position: center top;
    color: #333;
    padding-top: 50px;
    padding-bottom: 350px;
}

.shadow-section {
    position: relative;
    z-index: 1;
}

.shadow-section h2 {
    font-size: 50px;
    font-family: 'asiyah_scriptregular';
}

.shadow-section:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: "";
    height: 50%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccffffff', GradientType=0);
    z-index: -1;
}

p.price-text {
    color: #d8085e;
    font-size: 30px;
    font-weight: 700;
}

a.boxed-btn {
    background: #d8085e;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 30px;
}

.single-counter-item {
    background: #fff;
    box-shadow: 2px 1px 8px 0px #f1f1f1;
    padding: 30px;
    text-align: center;
    margin: 5px;
}

.single-counter-item h2 {
    color: #d8085e;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 10px;
}

.single-counter-item i.fa {
    font-size: 55px;
    margin-bottom: 15px;
}

.counter-section {
    margin-top: -100px;
    position: relative;
    z-index: 2;
}