/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
html,
body {
    height: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 140px 0;
}

.section-bg-1 {
    background-image: url('../assets/img/bg.jpg');
}

.section-padding {
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.section-overlay {
    position: relative;
    z-index: 1;
    color: #FFF;
}

.section-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #333;
    z-index: -1;
    opacity: .7;
}

.single-count-item {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}

.single-count-item i.fa {
    font-size: 75px;
}

.single-count-item h3 {
    font-size: 40px;
    font-weight: 400;
    margin: 27px 0;
}