/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}


/* -----------------------------------------
Section box 2 design code  
------------------------------------------ */


/*section bg image  */

.bg-img-1 {
    background: url(../assets/img/bg1.jpg);
}

.bg-img-2 {
    background: url(../assets/img/bg2.jpg);
}

.bg-img-3 {
    background: url(../assets/img/bg3.jpg);
}

.bg-img-4 {
    background: url(../assets/img/bg4.jpg);
}

.service-box {
    height: 200px;
    background-size: cover;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.service-box:after {
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .3;
    z-index: -1;
}

.service-box-hover {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    transition: .2s;
}

.service-box-hover h3 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 20px;
}

a.more_btn {
    background: #ecd928;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.service-box:hover .service-box-hover {
    bottom: 30px;
}

.service-box:hover .more_btn {
    opacity: 1;
    visibility: visible;
}