/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.pricing-title-wrap {
    background: url(../assets/img/bg1.jpg);
}

.pricing-title-wrap {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
}

.pricing-title-wrap h2 {
    font-size: 50px;
    font-weight: 300;
}

.pricing-title-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
}

.pricing-list-wrap {
    margin-top: -110px;
    position: relative;
    z-index: 99999;
}

.pricing-list-wrap .row {
    margin-left: -5px;
    margin-right: -5px;
}

.pricing-list-wrap .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.pricing-header {
    background: #2b303c;
    text-align: center;
    color: #70727a;
    position: relative;
    display: table;
    width: 100%;
    height: 250px;
}

.pricing-header h2 {
    color: #fff;
    font-size: 50px;
}

.pricing-header-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 30px;
}

.popular-price {
    background: #21252e;
    padding: 14px;
    line-height: 20px;
    position: absolute;
    top: -48px;
    left: 0;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
}

.pricing-content {
    padding: 20px 40px;
    border-top: 0 solid;
    margin-bottom: 15px;
}

.pricing-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-content li {
    display: block;
    padding: 10px 0;
    color: #333;
}

.pricing-sub-title {
    background: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

p.pricing-note {
    font-size: 70%;
    opacity: .6;
    margin-left: -10px;
    margin-top: 20px;
}