/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-bg-1 {
    background: url('../assets/img/bg1.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.section-padding {
    padding: 80px 0;
}

.video-play-btn {
    background: #2c99ed;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
    font-size: 20px;
}

h2 {
    font-size: 35px;
    line-height: 1.5;
}

.section-overlay {
    color: #FFF;
    position: relative;
    z-index: 1;
}

.section-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #333;
    z-index: -1;
    opacity: .5;
    transition: .3s;
}