/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.stethoscope-bg {
    background: url(../assets/img/stethoscope.png) no-repeat scroll right bottom;
}

.pricing-conten li:before {
    font-family: FontAwesome;
    content: "\f046";
}

.section-titel {
    margin-bottom: 50px;
}

.section-titel h3 {
    text-transform: uppercase;
    color: #3F3D4F;
    font-weight: 600;
}

.section-titel h3 span {
    color: #00A5ED;
}

.section-titel p {
    color: #717A7F;
}

.single-pricing-box {
    background-color: #fff;
    margin-top: 90px;
}

.stethoscope-bg .col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

.stethoscope-bg .row {
    margin-left: 0;
    margin-right: 0;
}

.pricing-titel {
    background-color: #01BCD5;
    color: #fff;
    position: relative;
    padding-left: 35px;
    padding-bottom: 10px;
}

.pricing-ticker {
    background-color: #3A3D50;
    color: #8F9AAA;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding-top: 25px;
    text-align: center;
    top: -50px;
    position: relative;
}

.pricing-ticker span {
    color: #0AC4D8;
    font-size: 25px;
}

.pricing-ticker p {
    color:
}

.pricing-titel h2 {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 45px;
    font-size: 27px;
}

.pricing-titel h2 span {
    font-weight: 300;
}

.color-2 .pricing-titel {
    background-color: #02A4EF;
}

.color-3 .pricing-titel {
    background-color: #2BB6F7;
}

.pricing-conten ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-conten ul li {
    color: #656E72;
    padding: 12px;
    font-size: 15px;
    padding-left: 30px;
}

.pricing-conten ul li:before {
    margin-right: 10px;
}

.pricing-conten ul li:nth-child(2n+2) {
    background-color: #F5F6F8;
}

.pricing-btn {
    padding: 25px;
    border-bottom: 1px solid #E8E9ED;
}

.boder-btn {
    border: 1px solid #35A6F0;
    padding: 10px 20px;
    display: inline-block;
    color: #2AACE6;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
}

.pricing-conten,
.pricing-btn {
    border-left: 1px solid #E8E9ED;
}

.col-md-4:nth-child(3) .pricing-conten,
.col-md-4:nth-child(3) .pricing-btn {
    border-right: 1px solid #E8E9ED;
}