/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}


/*----------------------------
section box design
------------------------------*/

.service-box-bg1 {
    background: url(../assets/img/bg5.jpg);
}

.service-box-bg2 {
    background: url(../assets/img/bg6.jpg);
}

.service-box-bg3 {
    background: url(../assets/img/bg7.jpg);
}

.service-box-bg {
    height: 220px;
    background-size: cover;
    background-position: center;
}

.single-service-box {
    position: relative;
}

.service-box-inner {
    border: 1px solid #eeeeee;
    padding: 25px;
    text-align: center;
    padding-bottom: 45px;
}

.service-box-inner {
    border-top: 0 solid;
}

.service-box-inner h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.service-meta {
    opacity: .5;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

.service-box-more-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    text-align: center;
}

a.bordered-btn {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px 30px;
    background: #fff;
    font-size: 15px;
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
}