    /* Medium Layout: 1280px. */
    
    @media only screen and (min-width: 992px) and (max-width: 1200px) {}
    /* Tablet Layout: 768px. */
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {}
    /* Tablet and Mobile Layout*/
    
    @media only screen and (max-width: 991px) {
        .portfolio-list {
            margin-bottom: 368px;
        }
        .single-portfolio-item {
            width: 50%;
        }
    }
    /* Mobile Layout: 320px. */
    
    @media only screen and (max-width: 767px) {
        .offcanvas-menu {
            width: 100%;
            right: -100%;
        }
        .portfolio-list {
            margin-bottom: 0;
        }
        .single-portfolio-item,
        .single-portfolio-item.boxed {
            width: 100%;
        }
        .single-portfolio-item {
            height: 430px;
        }
        .footer-area {
            position: relative;
        }
        .footer-area .col-md-3 {
            margin-bottom: 40px;
        }
    }
    /* Wide Mobile Layout: 480px. */
    
    @media only screen and (min-width: 480px) and (max-width: 767px) {}