/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

a:visited {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}


/*
======================
Price Item
=======================
*/

.single-pricing-item {
    box-shadow: 0 0 9px #ddd;
    padding: 30px 30px 20px;
    text-align: center;
    border-top: 3px solid #00ff00;
    transition: .3s;
}

.single-pricing-item:hover {
    transform: scale(1.05);
}

.pricing-price {
    width: 120px;
    height: 120px;
    background: #2ec794;
    color: #fff;
    margin: 30px auto;
    border-radius: 50%;
    font-size: 16px;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.pricing-price:after {
    content: '';
    position: absolute;
    width: 112%;
    height: 112%;
    border: 3px solid #2ec794;
    left: -6%;
    top: -6%;
    border-radius: 50%;
}

.pricing-price-text {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
}

.pricing-content {
    font-size: 17px;
    font-weight: 600;
    color: #616161;
}

.bordered-btn,
.boxed-btn {
    text-transform: uppercase;
    border: 2px solid #2ec794;
    padding: 13px 30px;
    display: inline-block;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 700;
    color: #2ec794;
    border-radius: 50px;
}

.boxed-btn {
    background: #ff5e3e;
    color: #fff;
}

.bordered-btn:hover,
.boxed-btn:hover {
    color: #333;
}

.theme-2 {
    border-color: #ff5e3e;
}

.theme-2 .pricing-price {
    background: #ff5e3e;
}

.theme-2 .pricing-price:after {
    border-color: #ff5e3e;
}

.theme-3 {
    border-color: #b278f8;
}

.theme-3 .pricing-price {
    background: #b278f8;
}

.theme-3 .pricing-price:after {
    border-color: #b278f8;
}