/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1.7;
    background: #ddd;
}

.section-padding {
    padding: 80px 0;
}

.feature-bg-1 {
    background: url(../assets/img/bg1.jpg);
}

.feature-bg-2 {
    background: url(../assets/img/bg2.jpg);
}

.feature-bg-3 {
    background: url(../assets/img/bg3.jpg);
}

.feature-bg-4 {
    background: url(../assets/img/bg4.jpg);
}

ul.features-menu {
    margin: 0 0 50px;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.features-menu li {
    display: inline-block;
}

ul.features-menu li a {
    display: block;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 4px solid transparent;
    margin: 0 20px;
}

ul.features-menu li.active a {
    border-color: #f2c400;
}

.single-featrue-item {
    background: #fff;
    position: relative;
    display: table;
    height: 500px;
    width: 100%;
}

.feature-bg {
    background-color: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 500px;
    background-size: cover;
    background-position: center;
}

.feature-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 550px;
    padding-right: 35px;
}

.feature-text h4 {
    font-size: 30px;
    opacity: .3;
}

.feature-text h2 {
    font-size: 25px;
    font-weight: 400;
}

a.boxed-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #f2c400;
    color: #FFF;
    border-radius: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}