/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-bg {
    background-image: url(../assets/img/bg.jpg);
}

.section-padding {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1;
}

.section-bg:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .7;
    z-index: -1
}

.section-titel {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 80px;
    position: relative;
}

.section-titel:after {
    position: absolute;
    content: "";
    background-color: #32C4D1;
    height: 3px;
    width: 36px;
    bottom: -34px;
    margin-left: -24px;
}

.portfolio-list {
    overflow: hidden;
}

.single-portfolio-list {
    float: left;
    width: 20%;
    height: 250px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #000;
}

.single-portfolio-list.large {
    height: 500px;
    width: 40%;
}

.single-portfolio-list.wide {
    width: 40%;
}

.bg-1 {
    background-image: url(../assets/img/bg29.jpg);
}

.bg-2 {
    background-image: url(../assets/img/bg30.jpg);
}

.bg-3 {
    background-image: url(../assets/img/bg31.jpg);
}

.bg-4 {
    background-image: url(../assets/img/bg32.jpg);
}

.bg-5 {
    background-image: url(../assets/img/bg33.jpg);
}

.bg-6 {
    background-image: url(../assets/img/bg34.jpg);
}

.hover-item {
    text-align: center;
}

.hover-item:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .4;
    content: "";
    visibility: hidden;
}

.hover-item a {
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 1;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    font-size: 20px;
}

.single-portfolio-list:hover .hover-item:after {
    visibility: visible;
    opacity: .6;
    transition: .4s;
}

.single-portfolio-list:hover a {
    opacity: 1;
    visibility: visible;
}