/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a,
a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.section-bg-1 {
    background: url(../assets/img/bg4.jpg);
}

.single-service-box-bg-1 {
    background: url(../assets/img/bg19.jpg);
}

.single-service-box-bg-2 {
    background: url(../assets/img/bg20.jpg);
}

.single-service-box-bg-3 {
    background: url(../assets/img/bg21.jpg);
}

.single-service-box-bg-4 {
    background: url(../assets/img/bg22.jpg);
}

.single-service-box-bg-5 {
    background: url(../assets/img/bg23.jpg);
}

.single-service-box-bg-6 {
    background: url(../assets/img/bg24.jpg);
}

.single-service-box-bg-7 {
    background: url(../assets/img/bg25.jpg);
}

.single-service-box-bg-8 {
    background: url(../assets/img/bg32.jpg);
}

.section-padding {
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
}

.section-overlay:after,
.single-service-box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2af00;
    opacity: .8;
    z-index: -1;
}

.single-service-box {
    display: table;
    width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    background-size: 150%;
    background-position: top center;
    background-color: #002732;
    transition: .3s;
}

.single-service-box:after {
    background: #002732;
}

.single-service-box:hover:after {
    opacity: .3;
}

.single-service-box:hover {
    background-size: 200%;
}

.service-box-wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    text-transform: uppercase;
}

.service-box-wrap h2 {
    color: #fff;
    font-size: 25px;
}