/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

/*Base css*/

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.styled-bg-1 {
    background: url('../assets/img/bg29.jpg');
}

.footer-top-area {
    background: #f4f4f4;
    color: #777;
    padding: 60px 0;
    margin-top: 200px;
}

.footer-top-area h3 {
    color: #333;
    font-size: 22px;
}

.newsletter-form input[type=email] {
    background: none;
    border: none;
    padding: 10px 15px;
    width: 70%;
}

.newsletter-form input[type=email] {
    border-bottom: 2px solid #ddd;
}

.newsletter-form button {
    border: none;
    background: none;
    padding: 10px;
    color: #333;
    width: 25%;
    float: right;
}

.newsletter-form button {
    border-bottom: 2px solid #c2a864;
}

.newsletter-form {
    margin-top: 12px;
    margin-left: 30px;
}

.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu a {
    padding-left: 10px;
}

.footer-menu {
    padding-bottom: 30px;
}

.footer-bottom-area {
    margin-top: 35px;
}

.footer-bottom-area .container {
    position: relative;
}

.footer-bottom-area h4 {
    font-style: italic;
}

.newsletter-text p {
    font-size: 12px;
}

.footer-bottom-area a {
    color: #333;
    font-weight: 600;
}

.styled-bg-inner {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}

.styled-bg {
    height: 435px;
    width: 27.5%;
    position: absolute;
    left: -60px;
    bottom: 0;
    z-index: 2;
}

.styled-bg:after {
    content: '';
    position: absolute;
    left: -40px;
    bottom: -40px;
    background: #f4f4f4;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.social-links a {
    padding: 0 5px;
}