/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.7;
}

.section-padding {
    padding: 130px 0;
    margin-top: 200px;
}

.section-padding.section-dark-bg {
    color: #8b8f8e;
    background-color: #191d1c;
}

.section-dark-bg h1 {
    font-size: 100px;
    font-weight: 800;
    color: #fff;
}

.section-dark-bg h4 {
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.boxed-btn {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 1px solid;
    padding: 12px 30px;
    display: inline-block;
    margin-top: 30px;
}

.boxed-btn:hover {
    background: #fff;
    color: #333;
}

.absolute-img {
    margin-top: -230px;
}