/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}


/*----------------------------------------------------------------*/

.slide-bg-1 {
    background: url(../assets/img/bg1.jpg);
}

.slide-bg-2 {
    background: url(../assets/img/bg2.jpg);
}

.slide-bg-3 {
    background: url(../assets/img/bg3.jpg);
}

.welcome-area:after,
.boxed-btn {
    background: #005b98;
    /* Old browsers */
    background: -moz-linear-gradient(left, #005b98 0%, #0095be 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #005b98 0%, #0095be 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #005b98 0%, #0095be 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#005b98', endColorstr='#0095be', GradientType=1);
    /* IE6-9 */
}

.welcome-area {
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

.welcome-area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    z-index: -1;
}

.logo a,
.mainmenu a {
    color: #fff;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 9px 0;
}

.mainmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 18px 17px;
    text-transform: uppercase;
    font-size: 12px;
}

.header-right-content a {
    color: #000;
}

span.social-links {
    display: inline-block;
    margin-right: 50px;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #e2e2e2;
}

span.social-links a {
    font-size: 14px;
    display: inline-block;
    padding: 0 4px;
}

.header-right-content.text-right {
    padding: 16px 0;
}

.header-area {
    padding: 25px 0;
}

.single-slide-item {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: table;
    color: #000;
}

.slide-text {
    max-width: 700px;
    padding: 130px;
    color: #fff;
}

.slide-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
    z-index: 1;
}

.slide-text:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: .5;
    z-index: -1;
}

.slide-text h4 {
    color: #3fabca;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 9px;
}

.slide-text h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}

a.boxed-btn {
    text-transform: uppercase;
    font-size: 12px;
    padding: 16px 40px;
    display: inline-block;
    color: #fff;
}

.homepage-slides .owl-nav div {
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    margin-top: 18px;
    font-size: 20px;
    opacity: .5;
}