/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.heading h2 {
    text-transform: uppercase;
    padding: 30px 0;
    color: #669366;
}

.section-padding {
    padding: 80px 0;
}

.absolute-bg-1:after {
    background: url(../assets/img/bg17.jpg);
}

.absolute-bg-2:after {
    background: url(../assets/img/bg18.jpg);
}

.section-padding {
    position: relative;
    z-index: 1;
}

.section-padding.absolute-bg-1:after,
.section-padding.absolute-bg-2:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-color: #333;
}

.section-padding.absolute-bg-2:after {
    left: 0;
    right: auto;
}

.boxed-content {
    box-shadow: 0 0 4px #ccc;
    padding: 50px;
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 1;
}

.boxed-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #ad7474;
}

a.boxed-btn {
    background: #ffce43;
    padding: 10px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
}

a.boxed-btn:hover {
    background: #333;
    text-decoration: none;
}

.section-padding.absolute-bg-1,
.section-padding.absolute-bg-1 {
    margin: 50px 0;
}

.right-bg-1:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #333;
    width: 65%;
    height: 100%;
    opacity: .5;
}

.right-bg-2:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 65%;
    height: 100%;
    opacity: .5;
}