/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.newsletter-bg {
    background: url(../assets/img/bg1.jpg);
}

.newsletter-bg {
    background-size: cover;
    background-position: center;
    color: #FFF;
    text-align: center;
    z-index: 1;
    position: relative;
    padding-bottom: 150px;
}

.newsletter-bg h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.newsletter-bg:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #333;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.newsletter-form input[type=email] {
    border: 1px solid #696969;
    padding: 11px 22px;
    background: #333;
    opacity: 0.7;
    width: 80%;
    border-radius: 50px;
}

.newsletter-form input[type=submit] {
    border: none;
    padding: 12px 20px;
    text-transform: uppercase;
    border-radius: 50px;
    width: 18%;
    background: #2ab79d;
}

p.small-text {
    font-style: italic;
    margin-top: 11px;
}

.bordered-boxes {
    overflow: hidden;
    margin-top: -160px;
    position: relative;
    z-index: 99999;
    background: #fff;
    border-right: 1px solid #ddd;
}

.single-bordered-box {
    width: 50%;
    float: left;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 50px 80px;
    text-align: center;
    min-height: 285px;
}

.single-bordered-box h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 25px;
}

.single-bordered-box p {
    line-height: 1.6;
    font-size: 15px;
}

.single-testimonial-box {
    font-style: italic;
}

p.author-name {
    font-style: normal;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}

a.boxed-btn {
    background: #000;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}