/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.portfolio-bg-1 {
    background: url(../assets/img/bg10.jpg);
}

.portfolio-bg-2 {
    background: url(../assets/img/bg14.jpg);
}

.portfolio-bg-3 {
    background: url(../assets/img/bg11.jpg);
}

.portfolio-bg-4 {
    background: url(../assets/img/bg12.jpg);
}

.portfolio-bg-5 {
    background: url(../assets/img/bg15.jpg);
}

.portfolio-bg-6 {
    background: url(../assets/img/bg13.jpg);
}

.portfolio-bg-7 {
    background: url(../assets/img/bg2.jpg);
}

.section-title h2 {
    text-transform: uppercase;
    font-size: 40px;
}

.boxed-icon {
    font-size: 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    color: #00ff00;
}

.boxed-icon:before,
.boxed-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background: #00ff00;
    margin-top: -1px;
}

.boxed-icon:before {
    left: -70px;
}

.boxed-icon:after {
    right: -70px;
}

.single-portfolio-item {
    height: 280px;
    background-size: cover;
    background-position: top center;
    background-color: #ccc;
    position: relative;
}

.portfolio-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #489e48;
    font-style: italic;
    padding: 20px;
    transition: .3s;
}

.portfolio-text h4 {
    color: #fff;
    font-style: normal;
    margin: 0;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: table;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.portfolio-inner a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #00ff00;
    line-height: 40px;
    border-radius: 50%;
}

.portfolio-inner a.blue-bg {
    background: #557eb4;
}

.portfolio-inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: -1;
}

.single-portfolio-item:hover .portfolio-text {
    opacity: 0;
    visibility: hidden;
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
}


/* Owl carousel */

.portfolio-item .owl-dots div {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #00ff00;
    border-radius: 50%;
    margin: 5px;
}

.portfolio-item .owl-dots div.active {
    background: #2f2ff7;
}

.portfolio-item .owl-dots {
    text-align: center;
    margin-top: 15px;
}