/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.timeline-area {
    background: url('../assets/img/bg30.jpg');
}

.timeline-area {
    padding: 100px 0;
}

.timeline-area {
    background-size: cover;
    background-position: center center;
}

.section-title {
    text-align: center;
    color: #FFF;
    margin-bottom: 40px;
}

.section-title h2 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.section-title span {
    color: #1C9BE0;
}

.section-title p {
    line-height: 1.6;
}

.timeline-area {
    position: relative;
    z-index: 1;
}

.timeline-area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    opacity: .4;
    z-index: -1;
}

.timeline {
    position: relative;
    margin-top: 100px;
}

.timeline:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    background: #00666D;
    height: 100%;
    width: 2px;
    z-index: -1;
    margin-left: -1px;
}

img.timeline-frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #385b6e;
    padding: 2px;
    display: block;
    margin: 0 auto;
}

.single-timeline-item {
    position: relative;
    width: 150px;
    margin: 0 auto 80px;
}

.single-timeline-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #345e72;
    z-index: -1;
    margin-left: -1px;
}

.timeline-text {
    position: absolute;
    background: #072839;
    color: #FFF;
    width: 400px;
    left: -430px;
    top: 50%;
    height: 160px;
    padding: 29px;
    margin-top: -80px;
    border-radius: 40px;
}

.single-timeline-item:nth-child(2n+2) .timeline-text {
    left: auto;
    right: -430px;
}

.single-timeline-item:nth-child(2n) .timeline-text:before {
    left: -20px;
    right: auto;
    border-color: transparent #072837 transparent transparent;
}

.timeline-text:before {
    position: absolute;
    content: "";
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    right: -20px;
    border-color: transparent transparent transparent #072837;
}