/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #737373;
    font-size: 17px;
    line-height: 1.6;
}

.section-padding {
    padding: 80px 0;
}

.section-title,
.single-service-box {
    margin-bottom: 40px;
}

.section-title h2 {
    position: relative;
    z-index: 1;
    font-size: 35px;
    font-weight: 700;
    color: #292929;
}

.section-title h2:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 5px;
    height: 100%;
    background: #00ff00;
}

.service-icon {
    font-size: 50px;
    color: #ffbb00;
}

.single-service-box h3 {
    color: #4452bc;
}

.bordered-box {
    border: 7px solid #ffbb00;
    padding: 40px;
    margin-left: 30px;
    margin-top: 100px;
    margin-right: 100px;
    position: relative;
}

.bordered-box h3 {
    color: #292929;
    font-size: 30px;
}

.bordered-image {
    margin-top: -140px;
    margin-bottom: 40px;
    margin-right: -140px;
    width: 470px;
    max-width: 140%;
    height: 300px;
}

a.bordered-btn {
    text-transform: uppercase;
    color: #4452bc;
    font-size: 18px;
    font-weight: 700;
    transform: rotate(270deg);
    position: absolute;
    right: -100px;
    bottom: 46px;
}

.bordered-btn i.fa {
    margin-right: 6px;
}