/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.portfolio-bg-1 {
    background: url(../assets/img/bg1.jpg);
}

.portfolio-bg-2 {
    background: url(../assets/img/bg2.jpg);
}

.portfolio-bg-3 {
    background: url(../assets/img/bg3.jpg);
}

.portfolio-bg-4 {
    background: url(../assets/img/bg4.jpg);
}

.portfolio-bg-5 {
    background: url(../assets/img/bg5.jpg);
}

.single-portfolio-item:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3a3a3+0,1e1e1e+100 */
    background: #a3a3a3;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a3a3a3 0%, #1e1e1e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a3a3a3 0%, #1e1e1e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a3a3a3 0%, #1e1e1e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#1e1e1e', GradientType=0);
    /* IE6-9 */
}

.portfolio-list {
    overflow: hidden;
}

.single-portfolio-item {
    float: left;
    width: 33.333333%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: #333;
    position: relative;
    z-index: 1;
}

.single-portfolio-item.large-bg {
    height: 600px;
}

.portfolio-hover {
    padding: 20px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

.portfolio-hover h4 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
}

.single-portfolio-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    transition: .3s;
}

.single-portfolio-item:hover:after {
    opacity: .7;
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}