/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.top-border {
    border-top: 5px solid #3343b7;
}

.logo {
    margin-top: -45px;
    margin-bottom: 30px;
}

.logo h2 {
    font-size: 25px;
    font-weight: 600;
    color: #4351b3;
    line-height: 35px;
    text-transform: uppercase;
}


/*=====================================
    Bootstrap Navbar Customization
=====================================*/

.navbar-default {
    background-color: #FFF;
    border-color: #e7e7e7;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.navbar-nav>li>a {
    padding-top: 35px;
    padding-bottom: 35px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 35px 15px;
    font-size: 18px;
    font-weight: 600;
}