/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

body,
h2 {
    font-weight: 300;
}

.section-title {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 50px;
}

.contact-form {
    font-size: 17px;
    font-weight: 400;
}

p.form-element {
    position: relative;
}

p.form-element label {
    position: absolute;
    top: 10px;
    left: 15px;
    text-transform: uppercase;
    font-size: 14px;
    color: #999999;
}

.contact-form textarea,
.contact-form input[type=text],
.contact-form [type=email] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    font-size: 14px;
    padding-top: 33px;
    padding-bottom: 10px;
    transition: 1s;
}

.contact-form textarea {
    max-height: 150px;
    min-height: 150px;
}

.contact-form input[type=submit] {
    float: right;
    border: none;
    border-radius: 5px;
    background: #6d5ab0;
    color: #FFF;
    padding: 8px 20px;
}

p.small-text {
    margin: 0;
    padding: 10px 0;
    font-size: 15px;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
textarea:focus {
    background: #f0f0f0;
}