/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}


/*section box  */

body {
    background: #f5f5f5;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    color: #0dbff8;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.section-title-sep {
    width: 41%;
    height: 1px;
    background: #01bfff;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
}

.section-title-sep:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    background: #01bfff;
    width: 55px;
    height: 5px;
    margin-left: -27.5px;
}

.single-team-box {
    background: #fff;
    padding: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
}

.single-team-box img {
    max-width: 200px;
    display: block;
    margin: 0 auto 30px;
    border-radius: 50%;
}

.team-desc span {
    color: #cabbf5;
    font-size: 120%;
}

.single-team-box h4 {
    color: #0dbff8;
    margin-top: 20px;
}

.single-team-box h4 span {
    display: block;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-top: 9px;
}

.team-carousel .owl-nav div {
    position: absolute;
    background: #188cb1;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    top: 50%;
    margin-top: -17.5px;
    font-size: 20px;
    left: -70px;
}

.team-carousel .owl-nav div.owl-next {
    left: initial;
    right: -70px;
}