/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

.cta-area {
    position: relative;
    background: #ca5959;
    padding: 80px 0;
    color: #FFF;
}

.cta-area h2 {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.cta-area p {
    font-size: 20px;
    line-height: 1.6;
}

.cta-area canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}