/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.booking-area {
    background: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position: center center;
}

.booking-text {
    text-align: center;
    color: #fff;
}

.booking-text h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: normal;
}

.sep-top {
    margin: 0 auto 15px;
    max-width: 400px;
}

.sep-bottom {
    margin: 15px auto;
    max-width: 200px;
}

.booking-area {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 150px;
}

.booking-area:after,
.booking-form-element:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: -1;
    opacity: .7;
}

.booking-form {
    margin-top: 50px;
}

.booking-form-element {
    position: relative;
    z-index: 1;
    font-size: 25px;
    font-weight: 700;
    color: #e3c47a;
    border: 1px solid #504733;
    padding: 25px;
}

.booking-form-element label {
    display: block;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    opacity: .7;
    margin-bottom: 15px;
}

.booking-form-element select {
    width: 100%;
    background: none;
    border: none;
}

.booking-form-element select:focus {
    outline: none;
}

.booking-form input[type=submit] {
    font-size: 14px;
    font-weight: 300;
    background: none;
    border: none;
    text-transform: uppercase;
    padding: 28px 10px;
}

.booking-form-element .nice-select {
    width: 100%;
    background: no-repeat;
    color: #E1C382;
    font-size: 25px;
    border: none;
    padding: 0;
    float: none;
}

.booking-form-element .nice-select:after {
    border-bottom: 2px solid #E8C58E;
    border-right: 2px solid #e8c58e;
    width: 8px;
    height: 8px;
    right: 17px;
}

.nice-select .option:hover {
    background-color: #000;
}