/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.portfolio-bg-1 {
    background: url(../assets/img/bg1.jpg);
}

.portfolio-bg-2 {
    background: url(../assets/img/bg2.jpg);
}

.portfolio-bg-3 {
    background: url(../assets/img/bg3.jpg);
}

.portfolio-bg-4 {
    background: url(../assets/img/bg4.jpg);
}

.portfolio-bg-5 {
    background: url(../assets/img/bg5.jpg);
}

.portfolio-bg-6 {
    background: url(../assets/img/bg6.jpg);
}

.portfolio-list {
    overflow: hidden;
}

.single-portfolio-item {
    float: left;
    width: 33.3333%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: #333;
    position: relative;
    z-index: 1;
}

.single-portfolio-item.large-bg {
    height: 600px;
}

.portfolio-hover {
    padding: 20px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    text-align: center;
}

.portfolio-hover h4 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 10px;
}

.single-portfolio-item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: .3;
    transition: .3s;
}

.single-portfolio-item:hover:after {
    opacity: .5;
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}


/*==========================
    Filter option
============================*/

.portfolio-filter ul {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.portfolio-filter li {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid #319631;
    color: #333;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
}

.portfolio-filter li.active {
    background: #847c57;
    color: #fff;
}