/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.section-padding {
    padding: 80px 0;
}

.section-bg-1 {
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-color: #ddd;
    position: relative;
    color: #FFF;
    z-index: 2;
}

.section-blue-overlay,
.section-black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: #7c7cff;
    opacity: .7;
}

.section-black-overlay {
    left: auto;
    right: 0;
    width: 60%;
    background: #000;
    opacity: .5;
}

.single-service-box {
    position: relative;
    padding-left: 35px;
    margin-bottom: 35px;
}

.single-service-box i.fa {
    position: absolute;
    font-size: 27px;
    left: 0;
    top: -2px;
}

.single-service-box h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.section-title h2 {
    position: relative;
    font-size: 40px;
    padding: 0px 0 20px;
    margin: 0px 0px 50px;
}

.section-title p {
    font-style: italic;
}

.section-title h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 2px;
    background: #1984ad;
}

.section-title+p {
    margin-bottom: 30px;
}