/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.schedule {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.schedule th {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: 400;
}

.schedule th,
.schedule td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px;
}

.schedule h4 {
    font-weight: 400;
}


/* override css */

table.dataTable thead th,
table.dataTable thead td {
    padding: 20px;
    border-bottom: 0;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 20px;
}

#DataTables_Table_0_filter input[type=search] {
    background: rgba(221, 221, 221, 0.93);
    margin-left: 5px;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    color: #c59595;
}