/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}


/* section box design  */

.single-service-box {
    display: block;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    padding: 30px;
    text-align: center;
    position: relative;
    color: #333;
    padding-top: 58px;
}

.service-icon {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #76c046;
    color: #FFF;
    font-size: 30px;
    line-height: 70px;
    border-radius: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -95px;
}

.single-service-box p {
    margin: 0;
}

.single-service-box h3 {
    font-size: 20px;
}

.single-service-box:hover {
    color: #333;
}