/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Tablet + Mobile Layout: 768px. */

@media only screen and (max-width: 991px) {
    .bordered-img {
        width: 98%;
        margin: 25px 0;
    }
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .bordered-img {
        width: 98%;
        margin: 25px 0;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .bordered-img {
        width: 98%;
        margin: 25px 0;
    }
}