/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Vidaloka');

/*Base css*/

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Vidaloka', serif;
    margin: 0 0 15px;
    font-weight: 700;
}

h2 {
    margin-bottom: 25px;
    line-height: 1.4;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 15px;
    line-height: 1.8;
}

.section-bg-1 {
    background-image: url(../assets/img/bg25.jpg);
}

.section-bg-2 {
    background-image: url(../assets/img/bg26.jpg);
}

.section-padding {
    padding: 50px 0;
}

.boxed-btn {
    background: #C99E5D;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
}

.section-bg {
    height: 400px;
    background-size: cover;
    background-position: center;
}

.bordered-img {
    width: 100%;
    height: 100%;
}

.bordered-img {
    position: relative;
}

.bordered-img:after {
    position: absolute;
    right: -20px;
    bottom: -20px;
    content: "";
    border: 1px solid #333;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bordered-img {
    margin-right: -100px;
    width: 350px;
}

.left-side-bg {
    margin-right: 0;
    margin-left: -30px;
}

.margin-top-50 {
    margin-top: 50px;
}