/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.welcome {
    background: url(../assets/img/bg4.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ddd
}

.welcome {
    height: 100%;
    position: relative;
    z-index: 1;
}

.welcome:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(167, 73, 255);
    background: -moz-linear-gradient(45deg, rgba(167, 73, 255, 1) 0%, rgba(90, 28, 255, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(167, 73, 255, 1) 0%, rgba(90, 28, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(167, 73, 255, 1) 0%, rgba(90, 28, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a749ff', endColorstr='#5a1cff', GradientType=1);
    opacity: .9;
}

.logo {
    font-size: 40px;
    font-weight: 600;
    padding: 9px 0;
}

.logo a {
    border-color: #da00ff #da00ff rgba(16, 43, 236, 0.42) #3ea7fe;
    border-style: solid;
    border-width: 0 4px;
    padding: 7px 18px;
    border-radius: 50%;
    display: inline-block;
    text-transform: uppercase;
}


/* Main Menu */

.header-area {
    padding: 15px 0;
}

.header-area a {
    color: #fff;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 30px 15px;
}

.signle-cart {
    color: #fff;
    padding: 30px 0;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.signle-cart:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -80px;
    background: #2aa0ac;
    width: 45px;
    height: 2px;
}


/* Slide area */

.single-slide-item {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 50px 0;
}

.single-item-text h2 {
    font-size: 60px;
    color: #fff;
}

.single-item-text p {
    color: #e2cfff;
    font-size: 16px;
    font-weight: 600;
}

.bordered-text {
    border-bottom: 1px solid #e2cfff;
}

.single-item-link {
    border: 2px solid #a17aff;
    position: absolute;
    top: 50%;
    right: 0;
    border-right: 0;
    border-radius: 50px 0 0 50px;
    width: 350px;
    height: 80px;
    line-height: 80px;
    padding-left: 60px;
    margin-top: -40px;
}

.single-item-link a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.single-item-link span {
    padding-left: 20px;
}

.single-item-link i {
    font-size: 20px;
}


/* box area */

.single-box-item {
    color: #fff;
    padding: 30px 0;
}

.single-box-item h3 {
    font-size: 15px;
}

.single-box-item p {
    color: #c8c0d6;
    font-size: 17px;
    line-height: 1.6
}

.icon {
    font-size: 35px;
    color: #ddc5ff;
}