/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* .section-padding {
    padding: 80px 0;
} */

.section-padding {
    background: #efefef;
    margin: 70px 0;
}

.bg-1 {
    background: url(../assets/img/bg35.jpg);
}

.service-icon {
    font-size: 120px;
    opacity: .1;
    line-height: 120px;
    margin-bottom: 40px;
}

.service-icon-bottom {
    color: #fff;
    font-size: 30px;
    text-align: center;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.single-service-box {
    position: relative;
    z-index: 1;
    font-size: 18px;
    line-height: 1.8;
    padding: 70px 25px 0;
}

.single-service-box h2 {
    margin-bottom: 50px;
}

.single-service-box:hover {
    color: #fff;
}

.single-service-box:hover .service-icon {
    opacity: 1;
}

.service-box-inner {
    position: relative;
    z-index: 3;
}

.service-box-hover {
    opacity: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 12px 11px 0px rgba(191, 173, 173, 0.68);
    transition: .3s;
}

.service-box-hover:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b4ddb4;
    background: -moz-linear-gradient(-45deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    background: -webkit-linear-gradient(-45deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    background: linear-gradient(135deg, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400', GradientType=1);
    opacity: .8;
}

.single-service-box:hover .service-box-hover {
    opacity: 1;
    visibility: visible;
    transform: scale(1.1);
}

.single-service-box:hover .service-icon-bottom {
    opacity: 1;
    visibility: visible;
}