/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Muli', sans-serif;
}

.portfolio-bg-1 {
    background-image: url(../assets/img/port_01.jpg);
}

.portfolio-bg-2 {
    background-image: url(../assets/img/port_02.jpg);
}

.portfolio-bg-3 {
    background-image: url(../assets/img/port_03.png);
}

.portfolio-bg-4 {
    background-image: url(../assets/img/port_04.png);
}

.portfolio-bg-5 {
    background-image: url(../assets/img/port_05.jpg);
}

.portfolio-bg-6 {
    background-image: url(../assets/img/port_06.jpg);
}

.portfolio-bg-7 {
    background-image: url(../assets/img/port_07.jpg);
}

.portfolio-bg-8 {
    background-image: url(../assets/img/port_08.png);
}

.portfolio-bg-9 {
    background-image: url(../assets/img/port_09.jpg);
}

.portfolio-bg-10 {
    background-image: url(../assets/img/port_10.jpg);
}

.portfolio-bg-11 {
    background-image: url(../assets/img/port_11.jpg);
}

.header-area {
    padding: 40px 30px;
}

.logo a {
    color: #000000;
}

.logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 22;
    font-family: 'Muli', sans-serif;
    font-weight: 900;
    display: inline-block;
    position: relative;
}

.logo h1 span {
    font-size: 8px;
    position: absolute;
    right: -14px;
    top: 3px;
}

.menu-trigger {
    display: inline-block;
    width: 30px;
}

.menu-trigger:hover span:nth-child(1),
.menu-trigger:hover span:nth-child(3) {
    margin: 0 5px;
}

.menu-trigger span {
    display: block;
    height: 2px;
    background-color: #000;
    transition: 1s;
}

.menu-trigger span:nth-child(2) {
    margin: 7px 0;
}

.single-portfolio-item {
    float: left;
    width: 25%;
    height: 330px;
    background-size: 100%;
    background-position: center center;
    display: table;
    background-color: #ddd;
    transition: .5s;
}

.portfolio-hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio-hover h2 {
    font-size: 24px;
}

.portfolio-hover a {
    color: #000;
}

.portfolio-hover p {
    text-transform: uppercase;
    opacity: .5;
    font-size: 12px;
}

.portfolio-hover p:hover {
    opacity: 1;
}

.single-portfolio-item:hover .portfolio-hover {
    opacity: 1;
    visibility: visible;
}

.single-portfolio-item:hover {
    background-size: 120%;
}