/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.bg1 {
    background: url(../assets/img/bg10.jpg);
}

.bg2 {
    background: url(../assets/img/bg11.jpg);
}

.bg3 {
    background: url(../assets/img/bg12.jpg);
}

.bg4 {
    background: url(../assets/img/bg13.jpg);
}

.bg5 {
    background: url(../assets/img/bg14.jpg);
}

.bg6 {
    background: url(../assets/img/bg15.jpg);
}

.bg7 {
    background: url(../assets/img/bg16.jpg);
}

.product-bg {
    background-size: cover;
    background-position: center top;
    background-color: #ddd;
    height: 330px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    overflow: hidden;
}

.ticker {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: #333;
    color: #fdfefe;
    font-weight: 700;
    text-transform: uppercase;
}

.ticker-gray {
    background: #2ab79d;
}

.ticker-red {
    background: #f8504c;
}

.product-bottom-hover {
    position: absolute;
    background: #fff;
    bottom: -75px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.product-bottom-hover a {
    display: block;
    float: left;
    width: 33.3333%;
    padding: 15px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    color: #333;
}

.product-bottom-hover a:hover {
    background: #333;
    color: #fff;
}

.product-bottom-hover i {
    font-size: 20px;
}

.product-bg:hover .product-bottom-hover {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
}

.single-product-box {
    text-align: center;
}

.single-product-box h4 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.product-price {
    font-weight: 700;
    font-size: 110%;
    margin: 0;
}

.product-carousel .owl-nav div {
    background: #333;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -50px;
    opacity: .5;
}

.product-carousel .owl-nav div.owl-next {
    left: auto;
    right: -15px;
}