/* Google fonts */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

/* Basic Codes */

a:hover {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.header-top {
    background: #0b0b0b;
    padding: 13px 0;
}

.header-top,
.header-top a {
    color: #f3f3f3;
}

.header-top i.fa {
    color: #fc721e;
    padding-right: 7px;
}

.social-link a {
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-link i.fa {
    padding-right: 0;
    color: #fff;
}

span.social-link {
    display: inline-block;
    padding-left: 25px;
}

span.social-link a:hover {
    background: #fc721e;
    border: 1px solid #fc721e;
}

.header-top i.fa.fa-phone {
    padding-left: 30px;
}

.site-logo {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid;
    padding: 15px 20px;
    margin-bottom: 0;
}

.main-menu ul {
    margin: 5px 0;
    padding: 0;
    list-style: none;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    display: block;
    color: #333;
    padding: 12px 17px;
    font-weight: 900;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.main-menu li:hover>a {
    border: 1px solid #fc721e;
}

.header-area {
    padding: 18px 0;
}