/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}


/* Dropdown Menu */

.mianmenu {
    background: #f5f5f5;
    box-shadow: 0px -2px 0px 0px rgba(255, 211, 211, 0.9);
}

.mianmenu ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    list-style: none;
}

.mianmenu li {
    display: inline-block;
    position: relative;
}

.mianmenu li a {
    display: block;
    padding: 15px;
    color: #232857;
    font-weight: 700;
    text-decoration: none;
}

.mianmenu li ul {
    position: absolute;
    left: 0;
    width: 250px;
    background: #000000;
    border-radius: 5px;
    padding: 15px 0;
    z-index: 9;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
}

.mianmenu li:hover ul {
    opacity: 1;
    visibility: visible;
}

.mianmenu li ul li {
    display: block;
}

.mianmenu li ul li a {
    padding: 10px 15px;
    color: #999;
}

.mianmenu li:hover>a {
    background: #efdddd;
}

.mianmenu li:hover li:hover>a {
    background: #232857;
    color: #fff;
}


/* important Class */

.menu-title {
    text-align: center;
}

.mianmenu li span {
    position: absolute;
    right: 4px;
    top: 50%;
}


/* Menu Effect */

.mianmenu.effect-1 li ul {
    margin-top: 20px;
}

.mianmenu.effect-1 li:hover ul {
    margin-top: 0;
}

.mianmenu.effect-2 li ul {
    transform: scale(.5);
}

.mianmenu.effect-2 li:hover ul {
    transform: scale(1);
}

.mianmenu.effect-3 li ul {
    transform: skew(15deg);
}

.mianmenu.effect-3 li:hover ul {
    transform: skew(0deg);
}

.mianmenu.effect-4 li ul {
    margin-left: 30px;
}

.mianmenu.effect-4 li:hover ul {
    margin-left: 0;
}

.mianmenu.effect-5 li ul {
    transform: translateY(-50px) rotateX(90deg);
}

.mianmenu.effect-5 li:hover ul {
    transform: translateY(0px) rotateX(0deg);
}

.mianmenu.effect-6 li ul {
    transform: translateX(50px) rotate(150deg);
}

.mianmenu.effect-6 li:hover ul {
    transform: translateX(0) rotate(0)
}