/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body {
    font-weight: 300;
}

.section-padding {
    padding: 80px 0;
}

.author-img {
    position: relative;
    overflow: hidden;
}

.author-img-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    font-size: 17px;
    color: #555;
    transition: .3s;
    visibility: hidden;
}

.author-img-hover h2 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.author-img-hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #ddd;
    z-index: -1;
    opacity: .8;
}

.author-img-hover-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.author-img-hover-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.social-links a {
    display: inline-block;
    color: #919191;
    padding: 3px;
}

.single-team-box {
    margin-top: 25px;
    margin-bottom: 25px;
}

.single-team-box h3 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    margin-top: 16px;
    margin-bottom: 0;
}

.single-team-box h3 span {
    font-size: 70%;
    display: block;
    margin-top: 9px;
    opacity: .5;
}


/* Flash animation */

.anim-flash {
    opacity: 0;
}

.single-team-box:hover .anim-flash {
    opacity: 1;
    visibility: visible;
}


/* Top animation */

.anim-top {
    top: -100%;
}

.single-team-box:hover .anim-top {
    top: 0;
    visibility: visible
}


/* Right animation */

.anim-right {
    left: 100%;
}

.single-team-box:hover .anim-right {
    left: 0;
    visibility: visible
}


/* Bottom animation */

.anim-bottom {
    top: 100%;
}

.single-team-box:hover .anim-bottom {
    top: 0;
    visibility: visible
}


/* Left animation */

.anim-left {
    left: -100%;
}

.single-team-box:hover .anim-left {
    left: 0;
    visibility: visible
}


/* corner animation */

.anim-corner {
    top: -100%;
    left: -100%;
}

.single-team-box:hover .anim-corner {
    top: 0;
    left: 0;
    visibility: visible
}