/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a:link,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 150px 0;
}

.special-bg-section:before {
    background: url(../assets/img/bg27.jpg);
}

.special-bg-section {
    background: #f3f3f3;
    border: 1px solid #e5e5e5;
    position: relative;
    padding-left: 55%;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.special-bg-section:before {
    content: '';
    position: absolute;
    top: -25%;
    left: 0;
    width: 50%;
    height: 150%;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}

.special-bg-section:after {
    content: '';
    position: absolute;
    right: -35px;
    bottom: -35px;
    border: 6px solid #9dc042;
    height: 100%;
    width: 48.5%;
    z-index: -1;
}

.special-bg-section p {
    color: #888888;
    line-height: 1.7;
}

.boxed-btn {
    display: inline-block;
    background: #9fbf42;
    padding: 15px 30px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
}