/*Base css*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section-padding {
    padding: 80px 0;
}

.welcome-area {
    background: url(../assets/img/bg1.jpg);
    background-size: cover;
    background-position: center;
}

.header-area.header-area {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    border: none;
}

.header-area.header-absolute-area a {
    color: #fff;
}

.header-area.header-absolute-area:after,
.social-links:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 1px;
    opacity: .2;
}

.header-area.header-absolute-area .social-links {
    position: relative;
    border: none;
}

.header-area.header-absolute-area .social-links:before {
    height: 100%;
    width: 1px;
}

.header-absolute-area {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.mainmenu li {
    display: inline-block;
    position: relative;
}

.mainmenu li a {
    display: block;
    padding: 25px 20px;
    text-decoration: none;
}

.header-area a {
    color: #333;
}

.social-links {
    border-left: 1px solid #ddd;
    padding-left: 15px;
}

.social-links a {
    display: inline-block;
    padding: 25px 15px;
}

.logo {
    font-size: 30px;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 15px 0;
}

.logo span {
    color: #20bfd6;
}

.welcome-area {
    height: 100%;
    position: relative;
    z-index: 2;
}

.welcome-area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5;
}

.welcome-area-table {
    display: table;
    width: 100%;
    height: 100%;
}

.welcome-area-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.welcome-area-inner h4 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.welcome-area-inner h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 50px;
}

.welcome-area-inner-text {
    width: 800px;
    margin: 0 auto;
}

.btn-area {
    text-transform: uppercase;
}

.video-play-btn {
    width: 60px;
    height: 60px;
    background: #fff;
    display: inline-block;
    line-height: 60px;
    color: #333;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 50px;
    margin-right: 13px;
}